.board{
    height:560px;
    width:560px;
    margin-top:70px;
    position: static;
    z-index: 1;
}
#b1{
   height : 75px;
   width: 75px;
   position: relative;
   top:-170px;
   left: 75px;
   background-color: rgba(212, 48, 48, 0.859);
   z-index: 2;
}
#p2{
    height:50px;
    width:50px;
    position: relative;
    top: 355px;
    left:300px;
    border-radius: 50%;
}

#p4{
    height:50px;
    width:50px;
    position: relative;
    top: 350px;
    left: -460px;
    border-radius: 50%;
}
#p44{
    height: 50px;
    width: 50px;
    position: relative;
    top: 400px;
    left: -515px;
    border-radius: 50%;
}
#p1{
    height:50px;
    width:50px;
    
    position: relative;
    bottom:60px;
    top: 700px;
   left:150px;
    border-radius: 50%;
}
#p11{
   height: 50px;
   width: 50px;
   position: relative;
   bottom: 60px;
   top: 700px;
   left: 155px;
   border-radius: 50%;
}
#p22{
   height: 50px;
   width: 50px;
   position: relative;
   bottom: 60px;
   top: 410px;
   left: 248px;
   border-radius: 50%;
}
#p3{
    height:50px;
    width:50px;
    position: relative;
    top: 60px;
    left: 45px;
    border-radius: 50%;
    z-index: 2;
}
#p33{
    height: 50px;
    width: 50px;
    position: relative;
    top: 60px;
    left: 55px;
    border-radius: 50%;
    z-index: 2;
}

 .js-randomno{
    height:50px;
    width:50px;
    margin-top:-100px;
    margin-left:30px;
    position: absolute;
     bottom:60px;
    
   
 }
 .Dice1{
    display: inline;
 }
 
 .image1{
    border-radius: 10px;
    height: 50px;
    width:50px;
    background-color: rgb(214, 212, 212);
    top:30px;
    left:40px;
    margin-right: 20px;;
 }
